.card-container {
  height: 100%;
  width: 100%;
}

.header-title .title1 {
  color: #de6744;
  padding-right: 10px;
  font-weight: 700;
  font-size: 32px;
  overflow-wrap: break-word;
}

.header-title .title2 {
  color: black;
  font-weight: 700;
  font-size: 32px;
  overflow-wrap: break-word;
}

.subtitle-container {
  display: flex;
  justify-content: center;
}

.subtitle {
  font-weight: 500;
  padding: 0 30px 0 30px;
}

.category-item {
  display: flex;
  font-weight: 700;
  margin: auto;
  width: 80%;
}

.category-item .category-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.category-item p {
  padding-right: 10px;
  text-align: left;
}

.category-item span {
}

.text-with-dots {
  width: 100%;
}

.under-stars {
  width: 80%;
  border-bottom: 3px dotted #333;
  /* background-color: #f0f0f0; */
  background-color: white;
  color: #333;
  font-size: 0.5rem;
}
