.card-container {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 2px;
  flex-wrap: nowrap;
}

.card-group-div {
  height: 100%;
  width: 100%;
  flex-wrap: nowrap;
}

.header-title .title1 {
  color: #de6744;
  padding-right: 10px;
  font-weight: 700;
  font-size: 32px;
  /* overflow-wrap: break-word; */
}

.header-title .title2 {
  color: black;
  font-weight: 700;
  font-size: 32px;
  /* overflow-wrap: break-word; */
}

.subtitle-container {
  display: flex;
  justify-content: center;
}

.subtitle {
  font-weight: 800;
  font-size: 14px;
  padding: 0 30px 8px 30px;
}

.category-item {
  display: flex;
  font-weight: 800;
  font-size: 15px;
  margin: auto;
  width: 100%;
  justify-content: space-between;
}

.category-item p {
  padding-right: 10px;
  text-align: left;
  padding-bottom: 8px;
}

.category-item span {
}

.text-with-dots {
  width: 100%;
  padding-bottom: 5px;
}

.under-stars {
  width: 80%;
  border-bottom: 3px dotted #333;
  /* background-color: #f0f0f0; */
  background-color: white;
  color: #333;
  font-size: 0.5rem;
}

.action-group {

}

.action-group .action-item {
  padding: 5px 10px 5px 10px;
  font-size: 14px;
}

.action-group .action-item:hover {
  cursor: pointer;
}


.card-img {
  width: 100%;
  height: 100%;
}

.card-img img {
  width: 100%;
  height: 100%;
}

.category-item-list input {
  outline: none; /* Remove default outline */
  border: 1px solid #ccc; /* Add border for normal state */
  padding: 8px; /* Add padding for better appearance */
  border: 0px solid black;
}

.text-with-dots input {
  display: flex;
  margin-right: auto;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.conic:hover {
	position: relative;
	z-index: 0;
	width: 400px;
	height: 300px;
	border-radius: 10px;
	overflow: hidden;
	
	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: #70a7d1;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-image: conic-gradient(transparent, rgba(168, 239, 255, 1), transparent 30%);
		animation: rotate 4s linear infinite;
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: #fff;
		border-radius: 5px;
	}
}
