.header-title .title1 {
  color: #de6744;
  padding-right: 10px;
  font-weight: 700;
  font-size: 32px;
  overflow-wrap: break-word;
}

.header-title .title2 {
  color: black;
  font-weight: 700;
  font-size: 32px;
  overflow-wrap: break-word;
}

.subtitle-container {
  display: flex;
  justify-content: center;
}

.subtitle {
  font-weight: 500;
  padding: 0 30px 0 30px;
}

.category-item {
  display: flex;
  font-weight: 700;
  margin: auto;
  width: 80%;
}

.category-item .category-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.category-item p {
  padding-right: 10px;
}

.category-item span {
}
